.main-container {
	background-color: deepskyblue;
	height: 99vh;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 100px 1fr 50px;
	justify-items: center;
	align-items: center;
	margin: 0px;
}

.grid-item {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	border: solid orange 1px;
}

.header {
	grid-column: 1 / -1;
	background-color: dodgerblue;
}

.header h2 {
	margin: 0px;
}

.aside {
	grid-row: 2/ -1;
	grid-column: span 1;
	background-color: fuchsia;
}

.footer {
	grid-column: 2 / -1;
	grid-row: span 1;
	background-color: powderblue;
}
