* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: darkgray;
}

.flex-container {
	background-color: lightgreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	height: 800px;
	width: 500px;
}

.flex-item {
	background-color: lightpink;
	width: 80px;
	height: 80px;
	font-weight: bold;
	margin: 10px;
	line-height: 80px;
	text-align: center;
}
