* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: darkgray;
}

.flex-container {
	background-color: lightgreen;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 800px;
	justify-content: center;
}

.flex-item {
	background-color: lightpink;
	width: 120px;
	/* height: 120px; */
	font-weight: bold;
	margin: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	align-self: center;
}
